<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-PBsizing-20150803135740;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-PBsizing-20150803135740.mdf" providerName="System.Data.SqlClient" />
    <add name="PBsizingContext" connectionString="Data Source=(localdb)\v11.0; Initial Catalog=PBsizingContext-20171027092348; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|PBsizingContext-20171027092348.mdf" providerName="System.Data.SqlClient" />
    <add name="BatListContext" connectionString="metadata=res://*/Models.batteries.csdl|res://*/Models.batteries.ssdl|res://*/Models.batteries.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NTSERVER\PSM_DB2K5K;initial catalog=BatList;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BatListEntities" connectionString="metadata=res://*/Models.BATTs.csdl|res://*/Models.BATTs.ssdl|res://*/Models.BATTs.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NTSERVER\PSM_DB2K5K;initial catalog=BatList;persist security info=True;user id=sa;password=prim@x1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BatListEntities1" connectionString="metadata=res://*/Models.Battries.csdl|res://*/Models.Battries.ssdl|res://*/Models.Battries.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NTSERVER\PSM_DB2K5K;initial catalog=BatList;persist security info=True;user id=sa;password=prim@x1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BatListEntities2" connectionString="metadata=res://*/Models.Batteries_mdl.csdl|res://*/Models.Batteries_mdl.ssdl|res://*/Models.Batteries_mdl.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ERPSERVER\PSM_DB2K8K;initial catalog=BatList;persist security info=True;user id=sa;password=darasam;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="masterEntities" connectionString="metadata=res://*/Models.PGC.csdl|res://*/Models.PGC.ssdl|res://*/Models.PGC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ERPSERVER\PSM_DB2K8K;persist security info=True;user id=sa;password=darasam;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!-- Backuuuuuuuuuuuuuuuuuuuup DB hom-->
    <!--
    <add name="Orig_PSM_FDBEntities2" connectionString="metadata=res://*/Models.Orig_PSM_FDBEntities2.csdl|res://*/Models.Orig_PSM_FDBEntities2.ssdl|res://*/Models.Orig_PSM_FDBEntities2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HAKIM-LT\SQLEXPRESS;initial catalog=Orig_PSM_FDB;user id=sa;password=darasam;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  -->

    <!-- Backuuuuuuuuuuuuuuuuuuuup DB PRX-->
    <!--  
    <add name="Orig_PSM_FDBEntities2" connectionString="metadata=res://*/Models.Orig_PSM_FDBEntities2.csdl|res://*/Models.Orig_PSM_FDBEntities2.ssdl|res://*/Models.Orig_PSM_FDBEntities2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=U-HAKIM-DT\SQLEXPRESS;initial catalog=Orig_PSM_FDB;user id=sa;password=darasam;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->

    
    <!-- PRODUCTION DB -->
 
 <add name="Orig_PSM_FDBEntities2" connectionString="metadata=res://*/Models.Orig_PSM_FDBEntities2.csdl|res://*/Models.Orig_PSM_FDBEntities2.ssdl|res://*/Models.Orig_PSM_FDBEntities2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ERPSERVER\PSM_DB2K8K;initial catalog=Orig_PSM_FDB;user id=sa;password=darasam;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
     
 
    
  <add name="SysproCompanyPEntities" connectionString="metadata=res://*/Models.sysproDM.csdl|res://*/Models.sysproDM.ssdl|res://*/Models.sysproDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ERPSERVER\PGESCOM;initial catalog=SysproCompanyP;persist security info=True;user id=syspro;password=syspro1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SysproCompanyPEntities1" connectionString="metadata=res://*/Models.CMSdb.csdl|res://*/Models.CMSdb.ssdl|res://*/Models.CMSdb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ERPSERVER\PGESCOM;initial catalog=SysproCompanyP;user id=syspro;password=syspro1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Views/Home/Index" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
     
      <add namespace="GridMvc" /></namespaces>
    </pages>
    <httpHandlers>
      <add verb="GET,HEAD" path="asset.axd" validate="false" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <remove name="asset" />
      <add name="asset" preCondition="integratedMode" verb="GET,HEAD" path="asset.axd" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>