@{
    ViewBag.Title = "ERROR_NOSIZING";
}

<div class="alert-danger">


    <table align="center">
        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td><h2 style="background-color:green ; color:white">Sorry, Invalid User Name..... </h2></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
    </table>
    <table>
        <tr>
            <td height="500"><br /></td>
        </tr>
    </table>
</div>


