<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="PGESCOM.Properties.Settings.ConnectionString" connectionString="Provider=SQLOLEDB;Data Source=PROGRAMEUR1\pers2000;Integrated Security=SSPI;Initial Catalog=Orig_PSM_FDB" providerName="System.Data.OleDb"/>
    <add name="PGESCOM.Properties.Settings.Orig_PSM_FDBConnectionString" connectionString="Data Source=ERPSERVER\PSM_DB2K5K;Initial Catalog=Orig_PSM_FDB;Persist Security Info=True;User ID=sa;Password=prim@x1" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="lvQITEMS.CheckBoxes" value="True"/>
    <add key="toolBar1.ShowToolTips" value="True"/>
    <add key="1" value="True"/>
    <add key="TV.Text" value="Name"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.5.13.0" newVersion="5.5.13.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
